<nav class="navbar navbar-expand-lg text-light">
  <div class="container">

    <a class="navbar-brand fs-1 text-light" href="#">TSC 16</a>

    <button 
    class="navbar-toggler shadow-none border-0 bg-light" 
    type="button" 
    data-bs-toggle="offcanvas" 
    data-bs-target="#offcanvasNavbar" 
    aria-controls="offcanvasNavbar" 
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>

    <div class="offcanvas offcanvas-start" 
    tabindex="-1" 
    id="offcanvasNavbar" 
    aria-labelledby="offcanvasNavbarLabel">

      <div class="offcanvas-header border-bottom">
        <h4 class="offcanvas-title text-light" id="offcanvasNavbarLabel">TSC 16</h4>
        <button 
        type="button" 
        class="btn-close shadow-none" 
        data-bs-dismiss="offcanvas" 
        aria-label="Close">
        </button>
      </div>

      <div class="offcanvas-body d-flex flex-column flex-lg-row p-4">
        <ul class="navbar-nav justify-content-center align-items-center fs-4 flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link text-light text-uppercase" aria-current="page" href="{{ path('main') }}">Acceuil</a>
          </li>
          <li class="nav-item mx-2">
            <a class="nav-link text-light text-uppercase" href="{{ path('presentation')}}">Qui sommes nous ?</a>
          </li>
          <li class="nav-item mx-2">
            <a class="nav-link text-light text-uppercase" href="{{ path('specialites') }}">Nos spécialités</a>
          </li>
          <li class="nav-item mx-2">
            <a class="nav-link text-light text-uppercase" href="#">Photos</a>
          </li>
          <li class="nav-item mx-2">
            <a class="nav-link text-light text-uppercase" href="{{ path('app_contact') }}">Contact</a>
          </li> 
        </ul>

        {% if app.user %}
          <div class="d-flex justify-content-center align-items-center text-light">
              <a class="nav-link px-3 text-light text-uppercase" href="{{ path('admin_index') }}">Administration</a>
            <a href="{{ path('app_logout') }}" class="btn btn-deco">Me déconnecter</a>
          </div>
        {% endif %}

      </div>
    </div>
  </div>
</nav>