{% extends 'base.html.twig' %}

{% block title %}TSC 16 - Inscription{% endblock %}

{% block body %}
    <section class="container">
        <div class="row">
            <div class="col">
                <h1 class="text-center my-5 fw-bold">Inscription</h1>

                {{ form_start(registrationForm) }}
                <fieldset class="mb-5">
                    <legend class="mb-3 text-center">Mon identité</legend>
                    {{ form_row(registrationForm.lastname) }}
                    {{ form_row(registrationForm.firstname) }}
                    {{ form_row(registrationForm.email) }}
                </fieldset>

                <fieldset class="mb-3">
                    <legend class="mb-3 text-center">Mes coordonnées</legend>
                    {{ form_row(registrationForm.phone) }}
                    {{ form_row(registrationForm.address) }}
                    {{ form_row(registrationForm.zipcode) }}
                    {{ form_row(registrationForm.city) }}
                
                </fieldset>

                {{ form_row(registrationForm.plainPassword, {
                    label: 'Password'
                }) }}

                <button type="submit" class="btn btn-primary mt-3 mb-5">M'inscrire</button>
                {{ form_end(registrationForm) }}
            </div>
        </div>
    </section>

{% endblock %}
