{{ form_start(categoryForm) }}
    {{ form_row(categoryForm.name) }}
    {{ form_row(categoryForm.content) }}
    <button type="submit" class="btn btn-primary mb-5 mt-3">{{ button_label|default('Ajouter') }}</button>
{{ form_end(categoryForm) }}