{% extends "base.html.twig" %}

{% block title %}Liste des articles{% endblock %}

{% block body %}
    <div class="container-fluid my-5">
        <div class="row">
            {% include "_partials/adminnav.html.twig" %}
            <main class="col-9 border border-light bg-white p-2">
                <h1 class="mb-3">Liste des articles</h1>
                <table class="table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Titre</th>
                            <th>Contenu</th>
                            <th>Catégorie</th>
                            <th>Auteur</th>
                            <th>Slug</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for articles in article %}
                            <tr>
                                <td>{{ articles.id }}</td>
                                <td>{{ articles.title }}</td>
                                <td>{{ articles.content }}</td>
                                <td>{{ articles.category.name }}</td>
                                <td>{{ articles.user.lastname }}</td>
                                <td>{{ articles.slug }}</td>
                                <td>
                                    <a href="{{ path('admin_article_edit', {id: articles.id}) }}" class="btn btn-success">Modifier</a>
                                    <a href="{{ path('admin_article_delete', {id: articles.id}) }}" class="btn btn-danger mt-3">Supprimer</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </main>
        </div>
    </div>
{% endblock %}
